.nav-header {
  box-shadow: 0px 10px 10px -15px #111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .logo-heading {
    font-size: 25px;
  }
}

.my-orders-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #585555;
}

.cart-compartment {
  display: flex;
  flex-direction: row;
}

.cart-icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  outline: none;
}

.cart-sizing {
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.cart-count-badge {
  position: absolute;
  top: -15px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-count {
  text-align: center;
  background-color: #ff6347;
  padding: 4px 5px 2px;
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.link-styling {
  text-decoration: none;
  color: inherit;
}

.logout-button {
  background-color: blue;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
  height: 40px;
  border: none;
  border-radius: 3px;
  margin-left: 15px;
  margin-top: 15px;
}

.my-orders-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cart-icon-link {
  height: 40px;
}


.cart-icon-button{
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  background-color: transparent;
  border: none;
  outline: none;
}
